---
import { SEO } from "astro-seo";
import Layout from "../layouts/layout.astro";

const canonical = Astro.request.url;
---

<SEO
  canonical="joelfriesecke.de"
  title="Media meets Innovation - Ihr Dienstleister für kreative Mediengestaltung, Fotografie & Film und Webentwicklung"
  description="Wir sind Ihr innovativer Partner für maßgeschneiderte Lösungen in den Bereichen Mediengestaltung, Fotografie & Film und Webentwicklung. Lassen Sie uns gemeinsam Ihre Visionen in die Realität umsetzen"
  canonical={canonical}
  extend={{
    meta: [
      {
        name: "keywords",
        content:
          "Mediengestaltung, Grafikdesign, Fotografie, Filmproduktion, Webentwicklung, Responsive Design, SEO, Online-Präsenz, Social Media, Branding",
      },
    ],
  }}
/>
<Layout>
  <p>
    Aktuell befindet sich diese Seite noch im Aufbau. Ich arbeite mit viel
    Engagement und Freude daran, Ihnen in Kürze eine informative und
    ansprechende Plattform zu präsentieren.
  </p>
  <p>
    Bis dahin stehe ich Ihnen jedoch gerne persönlich zur Verfügung, um Ihre
    Fragen und Anliegen zu beantworten.
  </p><p>Beste Grüße, Joel</p>
</Layout>
