---
import Navigation from "../components/Navigation.astro";
import "../assets/sass/style.sass";
---

<html lang="de">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="h-screen w-screen">
    <div
      class="h-full w-full bg-center bg-cover"
      style={{
        backgroundImage: "url('https://source.unsplash.com/random')",
      }}>
      <div class="backdrop-blur-md h-full w-full">
        <Navigation />
        <div class="flex justify-center items-center mt-12">
          <h1>Joel Friesecke</h1>
        </div>
      </div>
    </div>
  </body>
</html>
