---
import Layout from "../layouts/layout.astro";
import { SEO } from "astro-seo";
---

<SEO noindex={true} nofollow={true} />
<Layout>
  <p>
    Joel Friesecke <br />
    Göttiner Landstr. 18 <br />
    14776, Brandenburg an der Havel <br />
    Telefonnummer: +49 1522 455 3821 <br />
    E-Mail-Adresse: mail@joelfriesecke.de <br />
    Vertreten durch: Joel Friesecke
  </p>
</Layout>
