---
import { Icon } from "astro-icon";
---

<div class="grid sm:grid-cols-3 justify p-4 gap-4">
  <div class="flex sm:justify-start">
    <a href="/">
      <span class="sr-only">Logo Joel Friesecke</span>
      <svg
        id="Ebene_2"
        data-name="Ebene 2"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 287.26 287.26"
        fill="#fff"
        class="h-12">
        <g id="Ebene_1-2" data-name="Ebene 1">
          <g>
            <g>
              <path
                d="m171.46,11.8l-.47-.47c-15.11-15.11-39.6-15.11-54.71,0L11.33,116.28c-15.11,15.11-15.11,39.6,0,54.71l104.95,104.95c15.11,15.11,39.6,15.11,54.71,0l.47-.47L39.63,143.63,171.46,11.8Z"
              ></path>
              <path
                d="m275.46,115.81l-76.18-76.18-.47.47c-15.11,15.11-15.11,39.6,0,54.71l48.83,48.83-48.83,48.83c-15.11,15.11-15.11,39.6,0,54.71l.47.47,76.65-76.65c15.11-15.11,15.11-39.6,0-54.71l-.47-.47Z"
              ></path>
            </g>
            <path
              d="m175.71,106.01l-24.97,81.68c-1.42,4.63-5.69,7.8-10.54,7.8h-18.11c-7.4,0-12.7-7.16-10.54-14.24l24.97-81.68c1.42-4.63,5.69-7.8,10.54-7.8h18.11c7.4,0,12.7,7.16,10.54,14.24Z"
            ></path>
          </g>
        </g>
      </svg>
    </a>
  </div>
  <div class="flex sm:justify-center items-center">
    <ul class="flex gap-4">
      <li>
        <a href="https://www.instagram.com/joelfriesecke/" target="_blank">
          <span class="sr-only">Instagram</span>
          <Icon class="h-6" pack="mdi" name="instagram" />
        </a>
        <li>
          <a href="https://dribbble.com/joelfriesecke" target="_blank"
            ><span class="sr-only">Dribbble</span>
            <Icon class="h-6" pack="mdi" name="dribbble" />
          </a>
          <li>
            <a href="https://github.com/joelfriesecke" target="_blank"
              ><span class="sr-only">Github</span>
              <Icon class="h-6" pack="mdi" name="github" />
            </a>
          </li>
        </li>
      </li>
    </ul>
  </div>
  <div class="flex sm:justify-end items-center">
    <nav>
      <ul class="flex gap-4">
        <li><a href="/legalnotice">Impressum</a></li>
      </ul>
    </nav>
  </div>
</div>
