---
import Navigation from "../components/Navigation.astro";
import "../assets/sass/style.sass";
---

<html lang="de">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="h-screen w-screen">
    <div
      class="h-full w-full bg-center bg-cover flex justify-center items-center"
      style={{
        backgroundImage: "url('/images/background.webp')",
      }}>
      <div
        class="backdrop-blur-md backdrop-brightness-50 h-4/5 w-4/5 rounded-3xl"
        style={{ border: "1px solid rgba( 255, 255, 255, 0.2 )" }}>
        <Navigation />
        <div
          class="flex flex-col justify-center items-center"
          style={{ height: "inherit" }}>
          <main class="max-w-xl text-xl flex flex-col gap-8 p-4 xl:p-0">
            <slot />
          </main>
        </div>
      </div>
    </div>
  </body>
</html>
